---
- name: Update apt cache if needed.
  apt: update_cache=yes cache_valid_time=86400

- name: Get software for Python-based control.
  apt: "name={{ item }} state=installed"
  with_items:
    - curl
    - python-apt
    - python-pycurl
    - build-essential
    - python-mysqldb

- name: Set timezone to America/Sao Paulo.
  shell: >
    timedatectl set-timezone America/Sao_Paulo
